@model WebApplication1.Models.UploadImage

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UploadImage</legend>


        <div class="editor-field">
            @Html.HiddenFor(model => model.Id)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ImageName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ImageName)
            @Html.ValidationMessageFor(model => model.ImageName)
        </div>

        <div class="editor-label">
            <label>product Image</label>
        </div>
        <div class="editor-field">
            <input id="ImageUpload" type="file" name="ImageUpload" />
        </div>

        <p>
            <input type="submit" value="Upload" />
        </p>
    </fieldset>
}